body {
	margin:0px;
}


h1 {
	text-align: center;
}

table {
	width: 90%;
}

table td {
	border: 1px solid black;
}

img.trombi {
	width: 100px;
}

.alert {
	color:red !important;
	padding-bottom: 10px;
}

.erreur {
	color:violet !important;
	width: 250px;
	padding-left: 12px;
}

.valide {
	color:blue !important;
	font-size: 1.5em;
	width: 250px;
	padding-left: 12px;
}

#content {
	margin-left:20px;
	margin-right:20px;
	overflow: hidden;
}

#content .navbar {
    width: 100%;
    float: left;
    height: 50px;
    background-color: #82949C;
}
#content .navbar ul li {
    color: white;
    width: auto;
    display: inline;
    float: left;
    height: 34PX;
    padding-left: 15px;
    padding-right: 15px;
}

#content .navbar ul li.active{
	background-color: #55787D;
}

#content .navbar ul li a {
		color:white;
		text-decoration: none;
	}
#content .navbar ul li.admin a,
#content .navbar ul li a.admin{
		color:red;
	}

#content .navbar img.logo {
	width: 50px;
	height: 50px;
	position: relative;
	margin-left: -29px;
	margin-top: -16px;
}

#content nav.footer {
	z-index: 999;
	position: fixed;
	bottom: 0%
}

#formulaire {
	padding:13px;
	display:block;
	width:420px;
	margin-left: calc(50% - 210px );
}
#formulaire .ligneForm{
	display:inline-block;
	width:100%;
	height: 40px;
}

#formulaire .label,
#formulaire .champs{
	float:left;
	width:50%;
}

#formulaire div.rectifier{
	height: 64px;
}

#formulaire label.rectifier {
	color:blue !important;
}

