body {
	margin:0px;
}


h1 {
	text-align: center;
}

table {
	width: 90%;
}

table td {
	border: 1px solid black;
}

#contenu {
	margin-left:20px;
	margin-right:20px;
}

img.trombi {
	width: 100px;
}
.alert {
	color:red !important;
	padding-bottom: 10px;
}
.rectifier {
	color:blue !important;
}

.erreur {
	color:violet !important;
	width: 250px;
	padding-left: 12px;
}

.valide {
	color:blue !important;
	font-size: 1.5em;
	width: 250px;
	padding-left: 12px;
}

.navbar {
    width: 100%;
    float: left;
    height: 50px;
    background-color: #82949C;
}
.navbar ul li {
    color: white;
    width: auto;
    display: inline;
    float: left;
    height: 34PX;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar ul li.active{
	background-color: #55787D;
}

.navbar ul li a {
		color:white;
		text-decoration: none;
	}
.navbar ul li.admin a,
.navbar ul li a.admin{
		color:red;
	}

.navbar img.logo {
	width: 50px;
	height: 50px;
	position: relative;
	margin-left: -29px;
	margin-top: -16px;
}

#ficheSalle,
#formulaire{
	padding:13px;
	display:block;
	width:420px;	
}
.ligneForm{
	display:inline-block;
	width:400px;
}

.label,
.champs{
	float:left;
	width:160px;
}
