.homeG {
    width: calc(100% - 430px);
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.homeD {
    width: 350px;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #AF271D;
    box-shadow: 8px 8px 4px #CCC;
    padding: 20px 30px;
    margin-bottom: 10px;
}


.homeD h3{
    color:#F6F6EF;
}
/* conteneur par page */
#dernieresOffres a{
    color: #F6F6EF;
}
#dernieresOffres{
    width: 350px;
}

#dernieresOffres .offre{
    padding-bottom: 20px;
}

#dernieresOffres .offre,
#dernieresOffres .ligne{
    float: left;
    width: 100%;
}
#dernieresOffres figure{
    margin:0;
    width: 350px;
}


#dernieresOffres img{
    width: 350px;
    height: auto;
}

#dernieresOffres .titre{
    font-size: 1.4em;
}

@media only screen and (max-width : 780px){
    .homeG {
        width: calc(95% - 10px);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 8px 8px 4px #CCC;
    }

    .homeD {
        width: calc(100% - 30px);
        margin-top: 4%;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 0;
    }

    .homeD p {
        width: 90%;
    }

    #dernieresOffres img{
        width: 435px;
        height: auto;
    }
}

@media only screen and (max-width : 473px){
    .homeG {
        width: calc(93% - 10px);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        box-shadow: 8px 8px 4px #CCC;
    }

    .homeD {
        width: calc(100% - 30px);
        margin-top: 4%;
        margin-left: 0;
        padding: 0 10px;
        margin-bottom: 0;
    }

    .homeD p {
        width: 90%;
    }

    #dernieresOffres img{
        width: 285px;
        height: auto;
    }

    #dernieresOffres .offre,
    #dernieresOffres .ligne {
        float: left;
        width: 287px;
    }

    #dernieresOffres .offre {
        /*height: 150px;*/
    }

    #dernieresOffres,
    #dernieresOffres figure,
    #dernieresOffres figcaption{
        width: 255px;
    }
}