@media only screen and (max-width : 473px)
{
/* ===========================
   ======= Body style ========
   =========================== */

body {
    font-size: 50%; /* Base font size: 14px */
    line-height: 0.8;
}

.body {
    width: 315px;
}

/* ===========================
   ======= Anchor style ======
   =========================== */

/* ===========================
   ========= Headings ========
   =========================== */

header.mainHeader {
    width: 305px;
}

.mainHeader nav {
    height: 84px;
}

.mainHeader nav ul,
.mainFooter nav ul {
    width: 300px;
}

.mainFooter nav a:link, .mainFooter nav a:visited,
.mainHeader nav a:link, .mainHeader nav a:visited {
    padding: 0 10px;
}

/* ***************************
   ===== Main Content =====
   *************************** */

.mainContent .barre{
    display: none;
}

/* ***************************
   ===== Tableaux =====
   *************************** */

/* ***************************
   ===== Fiches =====
   *************************** */
.quart img.trombi {
    width: 275px;
}

.quart{
    width: 275px;
    padding: 5px;
    height: 370px;
}

.quart .quart_photo{
    height: 170px;
}

/* ***************************
   ===== Formulaire =====
   *************************** */
    #formulaire {
        padding: 13px;
        display: block;
        width: 260px;
        margin-left: calc(50% - 135px );
    }
}