body {
	margin:0;
}

div{
	float: left;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

.ligne{
	width:100%;
}
#cgv,
#mentions,
#contact,
#newsletter,
#plan,
#salles,
#users{
	width: 90%;
	margin-left: 5%;
}

#connection,
#inscription,
#recherche,
#profil,
#editerSalles,
#ficheSalles,
#reservation{
	width: 350px;
	margin-left:calc(50% - 175px);
}

/* responcive */
.col-2{ width: 50%; }
.col-3{ width: 33%; }
.col-4{ width: 25%; }
.col-5{ width: 20%; }
.col-6{ width: 16%; }
.col-7{ width: 11%; }
.col-8{ width: 7%; }
.col-9{ width: 6%; }
.col-10{ width: 5%; }
.col-11{ width: 4%; }
.col-12{ width: 3%; }

/* conteneur global des menus */
#content {
	/*border:solid 1px black;*/
	width:calc(100% - 50px);
	margin-left:25px;
	overflow: hidden;
	padding: 50px 0;
}

#content .navbar {
	float: left;
	width: 100%;
	height: 50px;
	background-color: #82949C;
}

#content .navbar ul li {
	float: left;
	display: inline;
	color: white;
	/*width: auto;*/
	height: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

#content .navbar ul li.active{
	background-color: #55787D;
}

#content .navbar ul li a {
	color:white;
	text-decoration: none;
}

#content .navbar ul li.admin a,
#content .navbar ul li a.admin{
	color:red;
}

#content .navbar img.logo {
	width: 50px;
	height: 50px;
	position: relative;
	margin-left: -29px;
	margin-top: -16px;
}

#content .principal {
	z-index: 988;
	position: fixed;
	top: 0;
	width: calc(100% - 50px);
}

#content .footer {
	z-index: 999;
	position: fixed;
	bottom: 0;
	width: calc(100% - 50px);
}

#content .menu{
}

/* conteneur global du corp */
#corp {
	width: 100%;
	background-color: ghostwhite;
}

#debug {
	width: 100%;
	height: auto;
}


/* conteneur par page */
#dernieresOffres{
	width: 100%;
}

#dernieresOffres .offre{
	padding-bottom: 20px;
}

#dernieresOffres .offre,
#dernieresOffres .ligne{
	float: left;
	width: 100%;
}
#dernieresOffres figure{
	margin:0;
	width: 350px;
}


#dernieresOffres img{
	width: 350px;
	height: auto;
}

#dernieresOffres .titre{
	font-size: 1.4em;
}

#salles .ligne{
	float: left;
	width: 100%;
}

/*
a.order{
	text-decoration: none;
	color: inherit;
}*/

table {
	width: 100%;
}

table td {
	border: 0px solid black;
}

table th {
	background-color: darkslategrey;
	color: white;
}

table tr.lng1{
	background-color: #E7E5E5;
}

table tr.lng2{
	background-color: #F6F6EF;
}

img.trombi {
	width: 200px;
}

.alert {
	color:red !important;
	padding-bottom: 10px;
}

.erreur {
	color:violet !important;
	width: 250px;
	padding-left: 12px;
}

.valide {
	color:blue !important;
	font-size: 1.5em;
	width: 250px;
	padding-left: 12px;
}


/*
.ingOffre {
	width: 250px;
}
*/

#formulaire {
	padding:13px;
	display:block;
	width:420px;
	margin-left: calc(50% - 210px );
}

#formulaire .ligneForm{
	display:inline-block;
	width:100%;
	height: 40px;
}

#formulaire .ligneFile{
	width:100%;
	height: auto;
	padding-bottom: 24px;
}

#formulaire .label,
#formulaire .champs{
	float:left;
	width:50%;
}

#formulaire div.rectifier{
	height: 64px;
}

#formulaire label.rectifier {
	color:blue !important;
}

/*
#activite {
	padding: 0 50px;
}
*/