@media only screen and (min-width : 450px) and (max-width : 720px)
{

	.body {
		clear: both; 
		margin: 0 auto; 
		width: 90%;
		font-size: 90%;
	}
	
	.mainHeader nav {
		height: 109px;
	}
		
	.mainHeader nav ul {
		padding-left: 0;
	}
	
	.mainHeader nav li {
		margin-left: 0 auto;
		width: 33%;
	}

	.mainContent {
		margin-top: 4%;
		margin-bottom: 2%;
	}
	
	.topcontent {
		padding: 2% 5%;
		margin-bottom: 4%;
	}
	
	.bottomcontent {
		padding: 2% 5%;
	}
	
	.post-info {
		display: none;
	}

	.mainFooter {
	}
	
	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}

}