@media only screen and (max-width : 780px)
{
/* ===========================
   ======= Body style ========
   =========================== */

body {
    font-size: 50%; /* Base font size: 14px */
    line-height: 0.8;
}

.body {
    width: 470px;
}

/* ===========================
   ======= Anchor style ======
   =========================== */

/* ===========================
   ========= Headings ========
   =========================== */

header.mainHeader {
    width: 465px;
}

.mainHeader nav {
    height: 44px;
}

.mainHeader nav ul,
.mainFooter nav ul {
    width: 460px;
}

.mainFooter nav a:link, .mainFooter nav a:visited,
.mainHeader nav a:link, .mainHeader nav a:visited {
    padding: 0 10px;
}

/* ***************************
   ===== Main Content =====
   *************************** */

.mainContent .barre{
    display: none;
}

/* ***************************
   ===== Tableaux =====
   *************************** */

/* ***************************
   ===== Fiches =====
   *************************** */
.quart img.trombi {
    width: 195px;
    height: 146px;
}

.quart{
    width: 200px;
    padding: 5px;
    height: 370px;
}

.quart .reserver {
    width: 90%;
}

.quart .quart_photo{
    height: 170px;
}

/* ***************************
   ===== Formulaire =====
   *************************** */
}

#formulaire {
    padding: 13px;
    display: block;
    width: 412px;
    margin-left: calc(50% - 206px );
}